/* General body styling */
body {
    font-family: 'Orbitron', sans-serif;
    background-color: black;
    color: gold;
    text-align: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem; /* Base font size */
    overflow: auto; /* Allow scrolling */
    overflow-x: hidden;
}

/* Container styling */
.container {
    max-width: 80%; /* Constrain the maximum width */
    margin: 0 auto; /* Center the container */
    perspective: 1000px; /* Set perspective for 3D effect */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem; /* Add padding for better appearance */
    overflow: visible;
    margin-top: 0.1rem;
}

/* Flashing class for animation */
.flashing {
    animation: neon 5s infinite alternate, tilt 60s infinite alternate ease-in-out; /* Slowed down animation */
}

/* Enhanced H1 Styling */
h1 {
    font-size: 0%;
    visibility: hidden;
}


.stack {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 2rem;
  }
  
  .stack span {
    font-weight: bold;
    grid-row-start: 1;
    grid-column-start: 1;
    font-size: 6rem;
    --stack-height: calc(100% / var(--stacks) - 1px);
    --inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
    --clip-top: calc(var(--stack-height) * var(--index));
    --clip-bottom: calc(var(--stack-height) * var(--inverse-index));
    clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
    animation: stack 340ms cubic-bezier(.46,.29,0,1.24) 1 backwards calc(var(--index) * 120ms), glitch 2s ease infinite 1s alternate-reverse;
    &:hover {
		&:before, &:after{
			position: absolute;
			content: '11:11';
			transform: translate(-50%,-50%);
			z-index: -1;
		}

		&:before {
			top: 49.5%;
			left: 49.5%;
			color: rgba($color-1,0.8);
			animation: distort1 $base-duration linear infinite;
		}

		&:after {
			top: 50.5%;
			left: 50.5%;
			color: rgba($color-2,0.8);
			animation: distort2 $base-duration linear infinite;
		}
	}
}
  
  .stack span:nth-child(odd) { --glitch-translate: 8px; }
  .stack span:nth-child(even) { --glitch-translate: -8px; }


  
  @keyframes stack {
    0% {
      opacity: 0;
      transform: translateX(-50%);
      text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
    };
    60% {
      opacity: 0.5;
      transform: translateX(50%);
    }
    80% {
      transform: none;
      opacity: 1;
      text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    100% {
      text-shadow: none;
    }
  }
  
  @keyframes glitch {
    0% {
      text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
      transform: translate(var(--glitch-translate));
    }
    2% {
      text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
    }
    4%, 100% {  text-shadow: none; transform: none; }
  }

/* Subheading styling */
h2 {
    font-size: 3rem; /* Responsive font size */
    text-transform: uppercase;
    color: purple;
    text-shadow: 0 0 0.09em gold, 0 0 0.18em #9400D3, 0 0 0.32em #9400D3, 0 0 0.4em #4B0082, 0 0 0.6em #4B0082;
}

/* Heading styling */
h3 {
    font-size: 2.5rem; /* Responsive font size */
    text-transform: uppercase;
    color: purple;
    margin: 1rem 0; /* Responsive margin */
}

/* Music player styling */
.music-player {
    margin-top: 2rem; /* Responsive margin */
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    font-family: 'Orbitron', sans-serif;
    background-color: gold;
    color: black;
    border: none;
    padding: 0.5rem 1rem; /* Responsive padding */
    margin: 0.5rem; /* Responsive margin */
    cursor: pointer;
    font-size: 1.5rem; /* Responsive font size */
    text-transform: uppercase;
    width: 15rem; /* Ensure uniform button width */
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflow text */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

button:hover {
    background-color: purple;
    color: white;
}

button.playing {
    background-color: purple;
    color: white;
}

.email-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    color: gold;
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    transition: all 0.3s ease;
  }
  
  .email-button:hover {
    background-color: gold;
    color: black;
  }
  
  .email-button i {
    margin-right: 5px;
  }

/* Flashing animation */
@keyframes neon {
    0% {
        text-shadow: 0 0 0.2em purple, 0 0 0.4em gold, 0 0 0.6em gold, 0 0 0.8em orange, 0 0 1em orange;
    }
    50% {
        text-shadow: 0 0 0.2em gold, 0 0 0.4em purple, 0 0 0.6em purple, 0 0 0.8em purple, 0 0 1em purple;
    }
    100% {
        text-shadow: 0 0 0.2em purple, 0 0 0.4em gold, 0 0 0.6em gold, 0 0 0.8em orange, 0 0 1em orange;
    }
}



/* Media Queries for Responsive Design */
@media (max-width: 1200px) {
    .stack span {
        font-size: 5rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 2rem;
    }
    button {
        font-size: 1.25rem;
        width: 14rem; /* Ensure uniform button width */
    }
}

@media (max-width: 800px) {
    .stack span {
        font-size: 4rem;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    button {
        font-size: 1.2rem;
        width: 13rem; /* Ensure uniform button width */
    }
}

@media (max-width: 600px) {
    .stack span {
        font-size: 3rem;
    }
    h2 {
        font-size: 1.75rem;
        text-shadow: 0 0 0.09em gold, 0 0 0.18em #9400D3, 0 0 0.3em #9400D3, 0 0 0.8em #4B0082, 0 0 0.01em #4B0082;
    }
    h3 {
        font-size: 1.5rem;
    }
    button {
        font-size: 1rem;
        width: 12rem; /* Ensure uniform button width */
    }
}

